/* reset.css
   Generic reset and a template
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

header {
    outline: 1px solid black;
}

main {
    flex-grow: 1;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    outline: 1px solid black;
}