/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

header {
    text-align: center;
    background-color: #dc4c3e;
    color: #fcfaf8;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;

}

aside {
    min-width: 15rem;
    padding: 1rem;
    background-color: #fcfaf8;

}

section {
    flex-grow: 1;
    padding: 1rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #dc4c3e;
    color: #fcfaf8;
}

#projects-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#create-new-project-button {
    height: 2rem;
    width: 2rem;
    all: unset; 
    cursor: pointer;
    display: inline-block;
}

#create-new-project-button:focus {
    outline: none;
}

#project-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.5rem;
}

#project-div:hover {
    background-color: #f2efed;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#to-do-details {
    width: 100%;
}

#to-do-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-item.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}