/* Import Roboto Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

/* Header Styles */
header {
    text-align: center;
    background-color: #dc4c3e;
    color: #fcfaf8;
    padding: 0.5rem;
}

/* Main */
main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
}

/* Projects Area */
/* Projects Area Layout */
aside {
    min-width: 15rem;
    padding: 1rem;
    background-color: #fcfaf8;
}

/* Projects Header */
#projects-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

/* Create New Project Button */
#create-new-project-button {
    height: 2rem;
    width: 2rem;
    all: unset; 
    cursor: pointer;
    display: inline-block;
}

#create-new-project-button:focus {
    outline: none;
}

/* Project Container */
#project-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.5rem;
}

#project-div:hover {
    background-color: #ffefe5;
}

/* Todo Area */
/* Todo Area Layout */
section {
    flex-grow: 1;
    padding: 1rem;
}

/* Todo Container */
#todo-div {
    padding: 0.5rem;
}

#todo-div:hover {
    background-color: #f2efed;
}

/* Todo Item */
.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
  
#to-do-details {
    width: 100%;
}

#to-do-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Todo Priority styles */
.low-priority {
    background-color: #a9dfbf;
    padding: 0.3rem;
    text-align: center;
    width: fit-content;
    font-size: 0.8rem;
}

.medium-priority {
    background-color: #f9e79f;
    padding: 0.3rem;
    text-align: center;
    width: fit-content;
    font-size: 0.8rem;
}

.high-priority {
    background-color: #f5b7b1;
    padding: 0.3rem;
    text-align: center;
    width: fit-content;
    font-size: 0.8rem;
}

/* Todo Checkbox */
input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #999; 
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: all 0.3s ease;
}
  
input[type="checkbox"]:hover {
    border-color: #ff0000; 
}
  
input[type="checkbox"]:checked {
    background-color: #ff0000; 
    border-color: #ff0000;
}
  
input[type="checkbox"]:checked::before {
    content: '✔'; 
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
  
/* Todo Completed */
.completed {
    text-decoration: line-through;
    opacity: 0.6; 
}

/* "Add New Task" button */
#add-new-task-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #dc4c3e;
    color: #fcfaf8;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#add-new-task-button i {
    margin: 0;
}

#add-new-task-button:hover {
    background-color: #b83a2e;
}

#add-new-task-button:focus {
    outline: none;
}

/* Miscellaneous */
/* Dialog & Modals */
dialog {
    width: 300px;
    max-width: 90%;
    border: none;
    border-radius: 8px;
    padding: 20px;
    background-color: #fcfaf8; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Form inside the dialog */
dialog form {
    display: flex;
    flex-direction: column;
}

/* Dialog Titles */
dialog h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #dc4c3e;
    text-align: center;
}

/* Form Input Fields */
dialog input[type="text"],
dialog input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #f2efed; 
    background-color: #fcfaf8; 
}

/* Form Buttons */
dialog button {
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

/* Form Submit Button */
#add-new-task-form-submit-button,
#create-new-project-form-submit-button {
    background-color: #dc4c3e; 
    color: white;
    margin-top: 10px;
}

#add-new-task-form-submit-button:hover,
#create-new-project-form-submit-button:hover {
    background-color: #b33a2f; 
}

/* Form Cancel Button */
#add-new-task-dialog-close-button,
#create-new-project-dialog-close-button {
    background-color: #f2efed; 
    color: #dc4c3e; 
    margin-top: 10px;
    border: 1px solid #dc4c3e;
}

#add-new-task-dialog-close-button:hover,
#create-new-project-dialog-close-button:hover {
    background-color: #fcfaf8; 
    color: #b33a2f;
}

/* Fieldsets */
fieldset {
    border: none;
    margin-bottom: 10px;
}

/* Legends */
legend {
    color: #dc4c3e;
    font-weight: bold;
}

/* Priority Radio Buttons */
fieldset > div {
    margin-bottom: 10px;
}

label {
    font-size: 1rem;
    color: #5a5755;
}

/* Hide the edit and delete icons by default */
#project-div #project-delete-button,
#project-div #project-edit-button,
#todo-div #todo-edit-button,
#todo-div #todo-delete-button {
    display: none;
    cursor: pointer;
    margin-left: 10px;
    border: none;
}

/* Show the icons when the projectDiv is hovered */
#project-div:hover #project-delete-button,
#project-div:hover #project-edit-button,
#todo-div:hover #todo-edit-button,
#todo-div:hover #todo-delete-button {
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #dc4c3e;
    color: #fcfaf8;
}

.fa-github {
    color: #fcfaf8;
}