/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

header {
    outline: 1px solid black;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;

}

aside {
    outline: 1px solid black;
    min-width: 15rem;
    padding: 1rem;
}

section {
    flex-grow: 1;
    outline: 1px solid black;
    padding: 1rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    outline: 1px solid black;
}

#projects-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#create-new-project-button {
    height: 2rem;
    width: 2rem;
}